{% import 'macros.htm as macro%'}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to the best News website </title>
  {% endif %}
</head>

<body>
  <!-- Popular article -->
         <h3> Popular Movies </h3>
         <ul>
            {{ macro.displayArticleList(popular)}}
        </ul>

        <!-- Business article  -->
        <h3> Business articles </h3>
         <ul>
            {{ macro.displayArticleList(business)}}
        </ul>
        <!-- Sports article -->
        <h3> Sports articles </h3>
         <ul>
            {{ macro.displayArticleList(sports)}}
        </ul>
        <h3> Entertainment articles </h3>
         <ul>
            {{ macro.displayArticleList(entertainment)}}
        </ul>
</body>

</html>
